.enquiry-wrapper {
	max-width: 900px;
	/* margin: 100px auto; */
	margin: auto;
	padding: 40px;
	text-align: center;
}

.enquiry-title {
	font-size: 34px;
	color: #b12aa5;
	font-family: "DM Serif Text", serif;
}

.enquiry-desc {
	font-size: 18px;
	color: #555;
	margin: 10px 0 40px;
}

.enquiry-form {
	background: #fff;
	padding: 40px;
	border-radius: 16px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.form-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.form-grid input,
.form-grid select {
	padding: 2vh;
	border-radius: 8px;
	border: 1px solid #ccc;
	font-size: 15px;
	background-color: #fff;
}

.form-grid input:focus,
.form-grid select:focus {
	border-color: #b12aa5;
	outline: none;
}

.error {
	grid-column: span 2;
	font-size: 13px;
	color: red;
	text-align: left;
}

.submit-btn {
	margin-top: 30px;
	padding: 14px 40px;
	font-size: 16px;
	border-radius: 30px;
	border: none;
	cursor: pointer;
	background: linear-gradient(135deg, #f2b18f, #d387c4);
	color: #fff;
	transition: 0.3s;
}

.submit-btn:hover {
	transform: translateY(-2px);
	box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

/* Mobile */
@media (max-width: 768px) {
	.form-grid {
		grid-template-columns: 1fr;
	}
}
