/* CONTAINER */
.paddingSection {
	padding: 60px 60px 0;
}

/* TITLE */
.section-title {
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	color: #8e2a8c;
	margin-bottom: 30px;
}

/* IMAGE */
.digitalBanner {
	width: 100%;
	/* height: 60vh; */
	max-height: 820px;
	border-radius: 20px;
	object-fit: cover;
	display: block;
}

/* ========================= */
/* 📱 TABLET (768px) */
/* ========================= */
@media (max-width: 768px) {
	.paddingSection {
		padding: 1vh;
		margin: 3vh;
	}

	.section-title {
		font-size: 28px;
		margin-bottom: 20px;
	}

	.digitalBanner {
		height: 45vh;
		border-radius: 16px;
	}
}

/* ========================= */
/* 📱 MOBILE (480px) */
/* ========================= */
@media (max-width: 480px) {
	.paddingSection {
		padding: 1vh;
		margin: 3vh;
	}

	.section-title {
		font-size: 22px;
		line-height: 1.3;
	}

	.digitalBanner {
		height: 35vh;
		border-radius: 12px;
	}
}
